 <div class="container">
    <h5>USER CONTACT DETAILS</h5>
    <table class="table table-info">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Street</th>
                <th>Suite</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let addr of address; let i = index;"
                class="table-warning">
                <td>{{i + 1}}</td>
                <td>{{addr.user.name}}</td>
                <td>{{addr.street}}</td>
                <td>{{addr.suite}}</td>
                <td>{{addr.city}}</td>
                <td>{{addr.zipcode}}</td>
                <td>Lat: {{addr.geo.lat}}, <br> Long: {{addr.geo.lng}}</td>
            </tr>
        </tbody>
    </table>
</div>
